main{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-gap: 5px 5px;
}
main .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}
.block.block1{
    background-color: #b6366a;
}
.block.block2{
    background-color: #726ea6;
}
.block.block3{
    background-color: #7d8dc2;
}
.block.block4{
    background-color: #a1d2da;
}
@media screen and (min-width: 320px) and (max-width: 772px){
    .block.block1{
        grid-row-start: 2;
        grid-row-end: 3;
    }
    .block.block2{
        grid-row-start: 1;
        grid-row-end: 2;
    }
}
@media screen and (min-width: 992px){
    main{
        grid-template-columns: 1fr 2fr;
    }
    .block.block1{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .block.block2{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
