html{
    display: table;
    width: 100%;
}
body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75%;
    text-align: center;
    display:table-cell;
    vertical-align:middle;
}
nav{
    text-align: center;
    background-color: darkviolet;
    word-spacing: 40px;
}
a:hover{
    background-color: darkblue;
}
a{
    color: white;
    text-decoration: none;
}
section{
    border: white dashed 2px;
    padding: 0 40px 0 0;
    width: max-content;
    height: auto;
    horiz-align: center;
    text-align: center;
    list-style-position: inside;
    margin: 20px auto 20px auto;
}
li{
    margin: 10px 0 10px 0;
}
h1{
    font-size: 300%;
    font-family: "Times New Roman",Times , sans-serif;
    text-decoration: underline;
    color: #066FD0;
}
h2{
    font-size: 150%;
    text-decoration: underline;
    text-align: center;
    padding-left: 40px;
}
h3{
    font-size: 120%;
    color: dimgray;
    text-decoration: underline;
}
p{
    border: darkslategray dotted;
}